* {
    /* Variables */
    --general-margin: 45px;
    --color-black: #010101;
    --color-white: #ebebeb;

    /* General styles */
    color: var(--color-white);
    font-family: "EB Garamond", serif;
}

body {
    background-color: #010101;
    padding: var(--general-margin);
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

a:hover {
    color: blue;
}

.title {
    /* padding: 45px; */

}

.title img {
    height: 45px;
}

.links {
    display: flex;
    flex-direction: column;
}

.separator {
    border-bottom: 1px solid #d0d0d0;
    width: 100%;
    opacity: .2;
    height: 0;
    margin: 45px 0;
}

.links h3 {
    /* margin-bottom: calc(var(--general-margin) / 2); */
}

section:not(:last-of-type) {
    margin-bottom: var(--general-margin);
}

input {
    color: #010101;
}

.image_showcase {
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
    /* justify-content: space-between; */
}

.image_showcase div {
    padding: 5px;
    width: 150px;       /* 5 images par ligne */
    aspect-ratio: 1;
    /* height: auto; */
    border: solid .5px rgba(255, 255, 255, 0.199);
}

.image_showcase div img {
    /* max-width: 150px; */
    height: auto;
    width: 100%;
}

ul, table {
    margin: 0;
    margin-top: 15px;
}

table {
  border-collapse: collapse;
  /* width: 50%; */
}

td, th {
  /* border: solid .5px rgba(255, 255, 255, 0.199); */
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.199);
}

@media (max-width: 500px) {
    .image_showcase div {
      width: 29%;
    }

    table {
        /* width: 100%; */
}
}

/*
@media (max-width: 1000px) {
    .image_showcase div {
      width: 16.66%;
    }
}

@media (max-width: 800px) {
    .image_showcase div {
      width: 20%;
    }
}
@media (max-width: 600px) {
    .image_showcase div {
        width: 25%;
    }
}

@media (max-width: 400px) {
    .image_showcase div {
        width: 33.33%;
    }
} */