* {
    /* Variables */
    --general-margin: 45px;
    --color-black: #010101;
    --color-white: #ebebeb;

    /* General styles */
    color: var(--color-white);
    font-family: "EB Garamond", serif;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

body {
    background-color: #010101;
    padding: var(--general-margin);
}

.title {
    /* padding: 45px; */

}

.title img {
    height: 45px;
}

h1 {

}

.links {
    display: flex;
    flex-direction: column;
}

.separator {
    border-bottom: 1px solid #d0d0d0;
    width: 100%;
    opacity: .2;
    height: 0;
    margin: 45px 0;
}

.links h3 {
    /* margin-bottom: calc(var(--general-margin) / 2); */
}

section:not(:last-of-type) {
    margin-bottom: var(--general-margin);
}

input {
    color: #010101;
}

.image_showcase {
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
    /* justify-content: space-between; */
}

.image_showcase div {
    width: 12.5%;       /* 5 images par ligne */
    height: auto;
}

.image_showcase div img {
    /* max-width: 150px; */
    height: auto;
    width: 100%;
}


/* Tablette : 3 images par ligne */
@media (max-width: 1200px) {
    .image_showcase div {
      width: 14.28%;
    }
}

/* Tablette : 3 images par ligne */
@media (max-width: 1000px) {
    .image_showcase div {
      width: 16.66%;
    }
}

/* Tablette : 3 images par ligne */
@media (max-width: 800px) {
    .image_showcase div {
      width: 20%;
    }
}
  
/* Mobile : 2 images par ligne */
@media (max-width: 600px) {
    .image_showcase div {
        width: 25%;
    }
}

/* 3 images par ligne */
@media (max-width: 400px) {
    .image_showcase div {
        width: 33.33%;
    }
}